/*/////////// SUPER SIMPLE FLEX GRID //////////*/

* { box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 960px; /* <-- max container width can be set here as desired */
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
}

[class*="col-"] {
  width: 100%;
  padding: 15px; /* <-- padding inside columns can be set here as desired */
}

@media only screen and (min-width: 600px) { /* <-- min device breakpoint width (switch from single to multi column) can be set here as desired */
  .row { flex-direction: row; }
  .col-1  { width: 8.333%; }  /* 1/12 */
  .col-2  { width: 16.666%; } /* 2/12 */
  .col-3  { width: 25%; }     /* 3/12 */
  .col-4  { width: 33.333%; } /* 4/12 */
  .col-5  { width: 41.666%; } /* 5/12 */
  .col-6  { width: 50%; }     /* 6/12 */
  .col-7  { width: 58.333%; } /* 7/12 */
  .col-8  { width: 66.666%; } /* 8/12 */
  .col-9  { width: 75%; }     /* 9/12 */
  .col-10 { width: 83.333%; } /* 10/12 */
  .col-11 { width: 91.666%; } /* 11/12 */
  .col-12 { width: 100%; }    /* 12/12 */
}
